@charset "UTF-8";

html, body{

}

body{
    background-color: #f3f3f3;
}

button:focus:focus-visible{
    outline: 0;
    border: 0;
}

h2{
    margin-bottom: 20px;
}

main#main-container{
    padding: 20px 0;
    width: calc(100% - 30px);
    max-width: 550px;
    min-height: 375px;
}

.form-label{
    margin-top: 20px;
}

footer{
    height: 35px;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p{
    padding: 0;
    margin: 0;
}