<a href="/">Voltar</a>
<h2>Editar nota {{note.title}}:</h2>

<form action="/notes/update" method="POST" id="edit-note-form">

    <input type="hidden" name="id" value="{{note._id}}">
    <div class="mb-3">
        <label for="title" class="form-label">Título:</label>
        <input type="text" name="title" id="title" class="form-control" placeholder="O que você pretende fazer?" value="{{note.title}}">

        <label for="description" class="form-label">Descrição:</label>
        <textarea id="description" style="min-height: 46vh;" name="description" class="form-control" placeholder="Descreva melhor sua nota...">{{note.description}}</textarea>

    </div>

    <button type="submit" class="btn btn-primary">Editar nota</button>

</form>
