@charset "UTF-8";

:root{
    --color-background-light: #f3f3f3; 
}

html, body{
    height: 100vh;
}

body{
    background-color: var(--color-background-light);
}

button:focus:focus-visible{
    outline: 0;
    border: 0;
}

h2{
    margin-bottom: 20px;
}

main#main-container{
    padding: 20px 0;
    width: calc(100% - 30px);
    max-width: 550px;
    min-height: 375px;
}

.form-label{
    margin-top: 20px;
}

footer{
    height: 35px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p{
    padding: 0;
    margin: 0;
}


/* Configuraçoes da view de notas feitas pelo user */

main#mainViewNotes{
    width: calc(97% - 10px);
    margin: auto;
    margin-top: 30px;
}

/* article#articleViewNotes{
    margin: auto;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    max-height: 200px;
} */

.table>:not(caption)>*>* {
    background-color: var(--color-background-light);
}

table > thead{
    border-bottom: 2px solid #212529a9;
}

table > tbody > tr{
    padding: 20px;
}

tr > th{
    text-align: center;
}

.title-column{
    width: 100%;
    text-align: center;
}

th, td{
    line-height: 3em;
}

.title-column a{
    text-decoration: none;
    color: #212529;
}

.title-column a:hover{
    text-decoration: underline;
}

.actions-column{
    display: flex;
    gap: 15px;
}

#mainViewNotes a.btn {
    height: 40px;
    margin-top: 6px;
}

@media (600px > width){
    #mainViewNotes td{
        height: 70px;
    }

    #mainViewNotes .btn{
        height: 40px;
    }
}

#footer{
    background-color: aqua;
}
